<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDWPrtUMg9rQMPxtTIsjXBfvFfFDbMys5w</string>
	<key>GCM_SENDER_ID</key>
	<string>740975783088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bidwise.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bidwise-34699</string>
	<key>STORAGE_BUCKET</key>
	<string>bidwise-34699.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:740975783088:ios:3575b2faae9e90b4b1df75</string>
</dict>
</plist>